@mixin btn-params {
    padding: 1rem;
    background-color: steelblue;
    border-radius: 3px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 100vw;
    min-height: 100vh;
    gap: 2rem;

    p {
        font-size: 30px;
    }

    .head-controller {
        display: flex;
        justify-content: space-around;
        gap: 20rem;

        .card-buttons {
            display: flex;
            gap: 1rem;


            .card-btn {
                @include btn-params
            }
        }

    }


    .cards {
        display: grid;
        min-height: 50vh;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-content: center;


    }

    .post-more {
        @include btn-params;
        width: 8rem;
    }
}