$main-color: lightgrey;
$nav-color: black;

header {
    position: sticky;
    max-width: 100vw;
    background-color: $main-color;
    user-select: none;
    .brand {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: 900;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100vw;
        padding: 1rem;
        background-color: $nav-color;
        .link {
            color: white;
            text-decoration: none;
            user-select: none;
        }
    }
}

.active {
    color: grey !important;
    cursor: pointer;
}