.user-color-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-color-modal{
        width: 20rem;
        height: 18rem;
        background-color: gold;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}