@mixin ctrl-btn {
    border: 1px solid white;
    background-color: black;
    padding: 3%;
    cursor: pointer;
        user-select: none;
}

.post-card{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 20rem;
    height: 15rem;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1rem;
    .card-title{
        font-weight: 800;
    }
    .card-controller{
        display: flex;
        .card-view{
            @include ctrl-btn;
        }
        .card-color{
            @include ctrl-btn;
        }
    }
}